@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .align-element {
    @apply mx-auto max-w-7xl px-8;
  }
}

nav {
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 10; /* กำหนดค่า z-index ให้สูงกว่าเพื่อให้แสดงอยู่ด้านหน้า */
}

.menu {
  /* สำหรับสถานะ inactive */
  color: white;
  padding: 2px 5px;
  border-radius: 5px;
}

.menu:hover {
  background-color: #ddd;
  border-radius: 5px;
  color: #ff6347;
}

.active_menu {
  /* สำหรับสถานะ active */
  color: white;
  background-color: #ff6347;

  padding: 2px 5px;
  border-radius: 5px;
}

.menu-mobile {
  /* สำหรับสถานะ inactive */
  color: white;
  border-radius: 5px;
}

.menu-mobile:hover {
  background-color: #ddd;
  border-radius: 5px;
  color: #ff6347;
}

.active_menu-mobile {
  /* สำหรับสถานะ active */
  color: white;
  background-color: #ff6347;

  padding: 2px 5px;
  border-radius: 5px;
}

@keyframes bounceX {
  0% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateY(-5px);
  }
}

.bouncing-text-x {
  animation: bounceX 1s infinite;
}

@keyframes bounceY {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

.bouncing-text-y {
  animation: bounceY 1s infinite;
  position: relative; /* ให้มีการใช้ position เพื่อให้สามารถกำหนด z-index ได้ */
  z-index: 0; /* ให้มีค่า z-index สูงกว่าเนื้อหาหลักของเว็บ */
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}
